<div id="total">
<div id="container">
<div id="title-cinema">
<h1>CINEMA</h1>
<h1>IRONHACK</h1>
<button class="buttons"><a class="buttons" href="/movies">CHECK THE MOVIES!</a></button>
</div>
</div>
</div>
